@font-face {
  font-family: "pirate";
  src: url("../assets/CloisterBlack.ttf") format("truetype"); /* Safari, Android, iOS */
}
:root {
  --slate-700: #334155;
  --slate-300: #cbd5e1;
  --slate-900: #0f172a;
  --slate-400: #94a3b8;
}
body {
  background-color: var(--slate-700);
}

header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  gap: 15px;
  color: white;
  background-color: #2563eb;
  font-family: "pirate";
  background-color: var(--slate-900);
}

header > img {
  height: 70px;
}
.main {
  display: grid;
  place-content: center;
}

.scores {
  display: flex;
  justify-content: space-around;
  color: white;
}

.cards {
  margin: 0px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  background-color: #d9f99d;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--slate-300);
  width: 215px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.card > img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

button {
  background-color: var(--slate-300);
  border: 3px solid rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 5px;
  padding: 8px 0px;
  width: 150px;
  place-self: center;
  margin-top: 20px;
}

button:hover {
  background-color: var(--slate-400);
}
