@font-face {
  font-family: "pirate";
  src: url("./assets/CloisterBlack.ttf") format("truetype"); /* Safari, Android, iOS */
}

header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  gap: 15px;
  color: white;
  background-color: #2563eb;
  font-family: "pirate";
}

header > img {
  height: 70px;
}
.main {
  display: grid;
  place-content: center;
}

.scores {
  display: flex;
  justify-content: space-around;
}

.cards {
  margin: 0px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  background-color: #d9f99d;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.card > img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
