.cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  gap: 20px;
}
.card {
  background-color: #d9f99d;
  padding: 20px;
  border-radius: 5px;
}
.card > img {
  width: 200px;
  height: 200px;
}
